@media (min-width: 767px) {
 .pic {
   display: flex;
   justify-content: space-between;
   padding-top: 145px;
 }

 .pic article {
  width: 32%;
}

body {
  margin: 0;
  color: #333;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.container-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
   max-width: 1200px;
    margin: 0 auto;
}

.readmore {
  margin-bottom: 0px;
}

main {
 width: 65%;
}

main .main {
  margin-top: 60px;
  padding-bottom: 20px;
}

aside {
  width: 28%;
  padding: 20px
}

.profile {
  margin-top: 50px;
}

.a2 {
 margin-top: 0px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 30%;
}

.menu {
  width: 30%;
}

.twitter {
  width: 30%;
}

.footer-wrapper h1 {
  margin-top: 0px;
}
}

@media (max-width:767px) {
 nav {
    overflow-y: scroll;
 }
}

@media (min-width: 1201px) {
  .footer-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .title-wrapper {
    margin: 0 auto;
    max-width: 1200px;
  }

   .li-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}